*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: white;
}

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65vw;
    margin: auto;
    height: 7vh;
}

.nav > ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav >img
{
    width: 125px;
    height: 5vh;
    margin-top: 1vh;
}

.nav button
{
    padding:1vh 1.5vh 1vh 1.5vh;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    margin: 1vh;
}

.login
{
    background-color: rgb(0, 177, 222);
    color: white;
}

.signup
{
    background-color: white;
    color: rgb(0, 177, 222);
}

ul
{
    list-style: none;
}

main{
    display: flex;
    max-width: 55vw;
    margin: auto;
    align-items: center;
    height: 25vh;
}

.left >img
{
    border-radius: 50%;
    border: 5px solid pink;
}

.right
{
    margin-left: 10vh;
}

.rightline1
{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    margin-bottom: 2.5vh;
}

.rightline1 p
{
    font-size: 25px;
}

.rightline1 button
{
    font-size: 15px;
    padding:1vh 2vh 1vh 2vh;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    font-weight: bolder;
}

.rightline2
{
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.rightline2 > p
{
    font-size: 16px;
    font-weight: bolder;
}

.rightline3
{
    font-weight: bolder;
    margin-bottom: 2vh;
}

.rightline4 > p
{
    font-size: 15px;
}

.info
{
    height: 7vh;
    max-width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes
{
    display: grid;
    grid-template-rows: 40vh 40vh 40vh ;
    grid-template-columns: 40vh 40vh 40vh;
    height: 120vh;
    gap: 5px;
    justify-content: center;
    margin: auto;
}



.box img
{
    width: 40vh;
    height: 40vh;
}

@media screen and(min-width: 2000px) {

body{
    background-color: red;
}

}